NET "clk" LOC = P126 | IOSTANDARD = LVTTL;
NET "clk" TNM_NET = "clk";
TIMESPEC TS_CLK = PERIOD "clk" 100 MHz HIGH 50%;

NET "leds[0]" LOC = P119 | IOSTANDARD = LVTTL;
NET "leds[1]" LOC = P118 | IOSTANDARD = LVTTL;
NET "leds[2]" LOC = P117 | IOSTANDARD = LVTTL;
NET "leds[3]" LOC = P116 | IOSTANDARD = LVTTL;
NET "leds[4]" LOC = P115 | IOSTANDARD = LVTTL;
NET "leds[5]" LOC = P114 | IOSTANDARD = LVTTL;
NET "leds[6]" LOC = P112 | IOSTANDARD = LVTTL;
NET "leds[7]" LOC = P111 | IOSTANDARD = LVTTL;

#NET "ctrl" LOC = P124 | IOSTANDARD = LVTTL | PULLUP;
#NET "sw[1]" LOC = P123 | IOSTANDARD = LVTTL | PULLUP;
#NET "sw[2]" LOC = P121 | IOSTANDARD = LVTTL | PULLUP;
#NET "sw[3]" LOC = P120 | IOSTANDARD = LVTTL | PULLUP;

NET "ser_tx" LOC = P38 | IOSTANDARD = LVTTL;
NET "ser_rx" LOC = P58 | IOSTANDARD = LVTTL;
